.categoryContainer{
    display:flex;
    max-width:inherit;
    height: max-content;
    margin-left: 2%;
    min-height: 78vh;
}

.leftPanel{
    width:20%;
    border-right: 1px solid orange
}

.categoryContent{
    width:80%;
    margin-left:3%;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.categoryContent img{
    width: 50%;
    height: 120px;
    border-radius: 0px !important;
    border: 0px;
    margin-top: 12px;
    cursor: pointer;
}

.categoryProductItem{
    text-align: center;
    width: 20%;
    height: 230px;
    background-color: lightblue;
    margin: 0px 0px 12px 10px;
}

.categoryProductItem hr{
    margin: 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
}

.categoryProductItem button{
    margin-bottom: 10px;
    border-radius:1px solid green;
}

.categoryContainer .searchProduct{
    margin-top:10px;
    margin-bottom:25px;
    font-family: monospace;
    font-weight: bold;
}

.categoryContainer p{
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 0px;
}

.isTopCategoryProductText{
    width:195px !important;
    position: absolute;
    color: black;
    font-size: 10px;
    background-color: orange;
}
