.addProductContainer{
    width:80%;
}

.addProductContainer img{
    width: 100%;
}

.addProductContainer  input{
    color:lightseagreen;
}

.addProductContainer  h5{
    font-family: monospace;
}

.addProductContainerErrorMsg{
    color:red;
    margin-left:20%;
    font-family: monospace;
    margin-bottom:0px;
    font-weight: bold;
}

.addProductContainerSuccessMsg{
    color:green;
    margin-left:8%;
    font-family: monospace;
    margin-bottom:0px;
    font-weight: bold;
}
