.nav-list {
    background-color: lightblue;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: disc;
    margin-block-end: 14px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
}
.nav-admin-list {
    background-color: lightsalmon;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: disc;
    margin-block-end: 14px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
}
.navContainer{
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 100 !important;
}
.nav-item {
    list-style: none;
    margin-right: 0.5rem;
    text-decoration: none;
}

.nav-item:first-child {
    margin-right: 34px;
    font-size: 2rem;
}

.nav-item svg{
    margin-left: 97%;
}
.nav-admin-list a,.nav-list a {
    color: inherit;
    font-family: monospace;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: 5px;
}
.main-footer {
    /* background-color: #ff9000; */
    background-color: lightblue;
    color: black;
    padding-top: 1px;
    position: fixed;
    bottom: -18px;
    width: 100%;
}
.main-footer p{
    font-family: monospace;
    padding: 0px 0px 10px 10px;
}
.nav-admin-list label,.nav-list label {
    margin-bottom: 20px;
    margin-left:-5px;
    margin-left: 0px;
}

.shoppingCartSymbol{
    width: 80%;
}

.cartCount{
    margin-left: -5px !important;
    margin-right:5px
}