.ordersContainer{
    margin-left: 10%;
    margin-top:3
}

.orderDetails{
    margin-top: 30px;
}

.orderDetails p{
    margin:0px;
    font-family: monospace;
}

.orderDetails label{
    color:green;
    font-weight: bold;
    font-family: monospace;
}

.manageOrderItems{
    display: flex;
    border-bottom: groove;
    margin-top: 5px;
    margin-bottom: 5px;
    width:70%
}
.manageOrderDescription{
    display: grid;
    width: 70%;
}

.manageOrderDescription span{
    font-family: monospace;
    font-size: 20px;
}

.manageOrderDescription label{
    font-family: monospace;
    font-size: 20px;
}
